<% if (detalle) { %>
    <h1><%= detalle.nombre %></h1>
    <img src="<%= detalle.imagen %>" alt="<%= detalle.nombre %>">
    <p><%= detalle.descripcion %></p>
<% } else { %>
    <h1>Producto no encontrado</h1>
<% } %>

