<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logo-mercado-liebre.jpg" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheet/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheet/app.css">
	<!-- NUEVA FONT 1 -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Climate+Crisis&family=Encode+Sans+SC:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yusei+Magic&display=swap" rel="stylesheet">
	<!-- NUEVA FONT 2-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Climate+Crisis&family=Encode+Sans+SC:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yusei+Magic&display=swap" rel="stylesheet">
</head>

<body>
	<!-- Header -->
		<!-- El codigo de header lo pase a partials para poder reutilizarlo y aca lo borre y deje esto -->
		 <%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form action="/user/profile" method="GET">
					<div>
						<label for="User:">User:</label>
						<input id="email" type="email" name="" value=""> 
					</div>
					<div>
						<label for="Password:">Password:</label>
						<input id="password" type="password" name="" value=""> 
					</div>
					<div>
						<label for="checkbox:">checkbox:</label>
						<input id="checkbox" type="checkbox" name="" value="recordarme">
					</div>
					 <div>
						<button type="submit">Submit</button> 
					 </div>
				</form>
			</h2>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>