<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logo-mercado-liebre.jpg" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheet/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheet/app.css">
	<!-- NUEVA FONT 1 -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Climate+Crisis&family=Encode+Sans+SC:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yusei+Magic&display=swap" rel="stylesheet">
	<!-- NUEVA FONT 2-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Climate+Crisis&family=Encode+Sans+SC:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yusei+Magic&display=swap" rel="stylesheet">
</head>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %>  
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
			<!-- cree el form de Agregar un producto -->
			<form action="/" method="get">
				<div>
					<label for="imagen">Imagen:</label>
					<input type="file" id="imagen" name="imagen" value="" >
				</div>
				<div>
					<label for="nombre">Nombre:</label>
					<input type="text" name="nombre" id="nombre" value="">
				</div>
				<div>
					<label for="descripcion">Descripcion:</label>
					<input type="text" id="descripcion" name="descripcion" value="">
				</div>
				<div>
					<button type="submit">Cargar</button>
				</div>
			</form>
				

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>