<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logo-mercado-liebre.jpg" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheet/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheet/app.css">
</head>

<body>
	<!-- Header -->
	<!-- El codigo de header lo pase a partials para poder reutilizarlo y aca lo borre y deje esto -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				
			<h2>Tus resultados de busqueda son:</h2>

			<div class="resultadosBusquedaEstatico">
				<img src="/images/products/img-macbook-pro-2019.jpg" alt="Imagen Macbook">
			</div>
			<div class="resultadosBusquedaEstatico">
				<img src="/images/products/img-cafetera-moulinex.jpg" alt="Imagen cafetera">
			</div>
			<div class="resultadosBusquedaEstatico">
				<img src="/images/products/img-samsung-galaxy-s10.jpg" alt="Imagen Samsung galaxy">
			</div>

				<i>///////////////////////////////////////// <br> Acá van los resultados de búsqueda. <br>
			Eliminen estás líneas y cosntruyan la página de resultados de búsqueda. <br>
			////////////////
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>